<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/panch.jpg">
    <title>About</title>
</head>
<body>

<div class="main-content">
    {{>header}}

    <p class="message">{{message}}</p>

    <div class="about-img">
        <img src="img/panch.JPG" alt="" class="doggos" id="doggo1">
        <img src="img/morty.JPG" alt="" class="doggos" id="doggo2">
        <img src="img/doggy.jpg" alt="" class="doggos" id="doggo3">
    </div>

</div>

{{>footer}}

</body>
</html>
